.buttons {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.column {
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 2px white solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.row {
    width: 700px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

/* @media (max-width: 700px) {
    .column {
        width: 14%;
        height: 100px;
        margin: 0px;
        border: 2px white solid;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
    }

    .row {
        width: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: center;
    }
} */

.marker {
    width: 80px;
    height: 80px;
}

#welcome-area {
    display: flex;
    justify-content: center;
}

#user-area {
    display: none;
    justify-content: center;
}

#game-area {
    display: none;
}

#winner-display {
    display: none;
}

#top-buttons {
    margin: 5px;
}

body {
    text-align: center;
}

.reset{
    margin-top: 10px;
}
